<!DOCTYPE html>
{%extends "base.html"%}

{%block content%} 

<div align="center">
    <h3>Update Clean Up Information Below:</h3>
    <form action = "/cleanups/{{ id }}" method='POST'>
        <input type = "hidden" name="method" value="POST"/><!--value was PUT-->
        <!--Date-->
        <label for = "date">Date:</label>
        <input type = "date" name="date" value="{{ date }}"
               pattern="{{date_pattern}}"
               placeholder={{date_placeholder}}/><br/>
        <!--Start Time-->
        <label for = "start_time">Start Time</label>
        <input type = "time" name ="start_time" value="{{ start_time }}"
                pattern= "{{time_pattern}}"
                placeholder="{{time_placeholder}}"/>
        <select name="start_time_of_day" >
            <option selected="selected" value="{{start_time_of_day}}">{{start_time_of_day}}</option>
            <option value="am">am</option>
            <option value="pm">pm</option>
        </select><br/>
        <!--End Time-->
        <label for ="end_time">End Time</label>
        <input type ="time" name ="end_time" value="{{ end_time }}"
               pattern="{{time_pattern}}"
               placeholder="{{time_placeholder}}"/>
        <select name="end_time_of_day" >
            <option selected="selected" value="{{end_time_of_day}}">{{end_time_of_day}}</option>
            <option value="am">am</option>
            <option value="pm">pm</option>
        </select><br/>
        <textarea name="description" cols="50" rows="4" value="{{ description }}">{{ description }}</textarea><br/>
        <!--<label for="street_number">Street Number:</label>-->
        <input type="radio" name="location" value="current_address" checked="checked">{{current_address}}
        <input type="hidden" name="current_address" value="{{current_address}}"><br/>

        <input class="type_address" type="radio" name="location" value="address">Address
        <input type="number" name="street_number" min="1" pattern="[0-9]{1,}" placeholder="Street Number"/>
        <input type="text" name="street_name" placeholder="Street Name"/><br/>
        <!--Street Name-->
        <!--<label for="street_name">Street Name:</label>-->
        <input type="radio" name="location" value="cross_street">Cross Street
        <!--<label for="street_name">Cross Street Name:</label>-->
        <input type="text" name="street_one" placeholder="Street One"/>
        <input type="text" name="street_two" placeholder="Street Two"/><br/>
        <!--image hidden until functional-->
        <!--<label for = "image">Image: (optional)</label>-->
        <!--<input type ="hidden" name="image"/><br/>-->
        <input type="submit" value="Update"/>
        <a href='/cleanups/{{ id }}' class="support">Cancel</a>
    </form>
    <form action = "/cleanups/{{ id }}" method='POST'>
        <input type = "hidden" name="method" value="DELETE">
        <input type="submit" value="Delete">
    </form>
</div>

{%endblock%}
