<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{%extends "base.html"%}

{%block content%}
    <h3>{{cleanup.street_number}} {{cleanup.street_name}}</h3>
{# TODO: Block image to the left of description and below Google Map   #}
{#    <img src = "{{cleanup.image}}"#}
{#             alt="Photograph"#}
{#             style = "width:150px;height:150px;">#}

{#  GOOGLE MAPS IFRAME  #}
{#  The map will only display from designated IP addresses.   #}
    <iframe
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src="{{ gmap }}{{ cleanup.gmap_query }}" allowfullscreen>
    </iframe>
    <ul>
        <li>Organizer: {{cleanup.host.username}}</li>
        <li>Date: {{cleanup.date}}</li>
        <li>Start Time: {{cleanup.start_time}}</li>
        <li>End Time: {{cleanup.end_time}}</li>
        <li>Address: {{cleanup.address}}</li>
        <li>Coordinates [{{cleanup.lat}},{{cleanup.lng}}]</li>
        <li>Hours: {{cleanup.hours}}</li>
        <li>Public Works Notified: Yes/No</li>
    </ul>
    <p>Participants</p>
    {% for participant in cleanup.participants %}
    <p>Username: {{participant.username}}</p>
    {% endfor %}
    <nav>
        {%if cleanup.host.username==current_user.username%}
            {%if cleanup.html_url%}
                <a href ='{{cleanup.html_url}}'>SeeClickFix Link</a>
                {%else%}
                <a href='/advertise/{{cleanup.id}}'>Advertise on SeeClickFix</a>
            {%endif%}
            <a href="/cleanups/send_to_pw/{{cleanup.id}}">Submit to Public Works</a>
            <a href="/cleanups/{{ cleanup.id }}/edit">Edit Cleanup</a>
            <form action='/cleanups/{{ cleanup.id }}/delete' method="post">
                <input type="hidden" name="cleanup_id" value="{{cleanup.id}}">
                <input type="hidden" name="method" value="DELETE">
                <input type="submit" name="Delete" value="Delete Cleanup">
            </form>
<!--        {%if cleanup.submit_pub_works%}
            Public Works has been notified
            {%else%}-->
            <!--{%endif%}-->
        {%endif%}
        {%if cleanup.host.username!=current_user.username%}
            <form action = '/cleanups/join' method='post'>
                <input type="hidden" name="cleanup_id" value="{{cleanup.id}}">
                <input type ="submit" name="Join" value="Join Cleanup">
            </form>
        {%endif%}
    </nav>
{%endblock%}
