/*Base*/
body{
    font-family: "Georgia", Georgia, serif;
}

header{
    text-align: center;
}

div.main_menu{
    text-align: center;
}

article{
    height: 550px;
    overflow: auto;
    text-align: center;
}

header, footer{
    background-color: #002266;
    color: #ffffff;
    border-radius: 5px;
    padding:0.5em;
    }

/*Showing Cleanups*/
div.list_cleanups{
    border-bottom: 1px solid black;
    padding: 2em;
}

div.scroll_all{
    height: 450px;
    overflow:auto;
}

div.scroll{
    height: 250px;
    overflow:auto;
}

/*Links resemble buttons*/
a:link, a:visited{
    color: #ffffff;
    background-color: #514B4B;
    margin: 1px 1px 1px 1px;
    /*position: relative;*/
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 7px 7px;
    border-radius: 3px;
}

a:hover, a:active{
    color: #ffffff;
    background-color: #cecaca;
}

/*Links resemble links*/
a.support:link, a.support:visited{
    background-color: #ffffff;
    color: #514b4b;
    margin: 1px 1px 1px 1px;
}

a.support:hover, a.support:active{
    color: #aeb4b4;
    text-decoration: none;
}

/*Map Cleanups*/
iframe{
       style="border:0; overflow:scroll;"
}

/*Hover Tool for Photos*/
.display_tool > div {
    display: none
}

.display_tool > div:first-child {
    display: block
}

.display_tool > div:hover + div {
    position:fixed;
    border: 5px solid black;
    right:50px;
    bottom:300px;
    display: block;
}

/*Table for tools*/
table.tools{
    align:center;
    text-align:center;
    border:2px solid black;
    table-layout:fixed;
}

