<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, chotoolsools | Templates
and open the template in the editor.
-->
{%extends "base.html"%}

{%block content%}
    <h3>Hosted Clean-Ups</h3>
    <div class="scroll">
    {% for cleanup in my_cleanups %}
        <div class="list_cleanups">
            <img src = {{default_image_path}}{{cleanup.image}}
                alt="Pretend this is a cool photo"
                style = "width:150px;height:150px; "><br>

            <a href = '/cleanups/{{cleanup.id}}'class="support">{{cleanup.name}}: {{ cleanup.location.number }} {{cleanup.location.street}}</a></br>

        </div>
    {% endfor %}
    </div>

    <h3>Joined Cleanups</h3>
    <div class="scroll">
    {% for cleanup in current_user.cleanups_participated %}
    <div class="list_cleanups">
                <img src = {{default_image_path}}{{cleanup.image}}
                    alt="Pretend this is a cool photo"
                     style = "width:150px;height:150px; align:left;"></br>

        <a href = '/cleanups/{{cleanup.id}}'class="support">{{cleanup.name}}: {{ cleanup.location.number }} {{cleanup.location.street}}</a></br>

    </div>
    {% endfor %}
    </div>
{%endblock%}
