
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, chotoolsools | Templates
and open the template in the editor.
-->
{%extends 'base.html'%}
{%block content%}
<div class="contaimer">
    <div class="row">
        <div class="col-lg-4">
            <h3>Edit Profile</h3>
        </div>
    </div>

    <form action="/user/" method="post">
    <input type="hidden" name="method" value="PUT">
        <div class="form-group">
    <div class="row">
        <div class="col-lg-4">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" value="{{user.email}}">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <!--<label for="password">Password</label>-->
            <input id="password"  name="password"
                   class="form-control"
                   type="password"
           placeholder="Password"
           pattern="{{password_pattern}}"
           title="{{password_title}}">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <!--<label for="confirm_password">Confirm Password</label>-->
            <input type="password"
                   class="form-control"
                   id="confirm_password"
                   name="confirm_password"
           placeholder="Confirm Password"
           pattern="{{password_pattern}}"
           title="{{password_title}}"/>
        </div>
    </div>

    <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#delUser">Delete</button>
    <input class="btn btn-sm" type="submit" value="Update">
    <a href='/cleanups' class="btn">Cancel</a>
</form>
    <!--Modal Function-->
    <div id="delUser" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <p class="text-center">Are you sure?</p>
            <button type="button" class="form-control" data-dismiss="modal">Cancel</button>
              <form action="/user/" method='POST'>
                <input type = "hidden" name="method" value="DELETE">
                <input class="form-control" type="submit" value="Delete">
              </form>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
{%endblock%}
