<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, chotoolsools | Templates
and open the template in the editor.
-->
{%extends "base.html"%}

{%block content%} 
    <h3>Hosted Clean-Ups</h3>
    <table>
        {% for cleanup in my_cleanups %}
        <tr>
            <td>
                <img src = {{cleanup.image}}
                    onerror=this.src='/static/images/defaults/crossed_rakes.png'
                    alt="Pretend this is a cool photo"
                    style = "width:150px;height:150px;"><br>
                </td>
        </tr>
        <tr>
            <td>
                <a href = '/cleanups/{{cleanup.id}}'class="support">{{cleanup.name}}: {{ cleanup.location.number }} {{cleanup.location.street}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h3>Joined Cleanups</h3>
    <table>
        <tr>
        {% for cleanup in current_user.cleanups_participated %}
            <td>
                <img src = {{cleanup.image}}
                    onerror=this.src='/static/images/defaults/crossed_rakes.png'
                    alt="Pretend this is a cool photo"
                    style = "width:150px;height:150px;">
            </td>
        </tr>
        <tr>
            <td>
                <a href = '/cleanups/{{cleanup.id}}'class="support">{{cleanup.name}}: {{ cleanup.location.number }} {{cleanup.location.street}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{%endblock%}
