<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, chotoolsools | Templates
and open the template in the editor.
-->
{%extends 'base.html'%}
{%block content%}
<div align="center">
    <h3>Welcome, {{current_user.username}}</h3>
    <ul>
        <li>You've volunteered for: {{current_user.volunteerhours}} hours</li>
        <li>You're hosting these clean ups: {{current_user.hosted}}</li>
        <li>You joined these clean ups: {{current_user.participated}}</li>
    </ul>
</div>
{%endblock%}
