<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, chotoolsools | Templates
and open the template in the editor.
-->
{%extends "base.html"%}

{%block content%} 
    <h3>Active Oakland Cleanups</h3>
    <table>
    {% for clean in cleanups %}
        <tr>

            <img src = "{{clean.image}}"
                onerror=this.src='/static/images/defaults/crossed_rakes.png'
                alt="Pretend this is a cool picture"
                style = "width:150px;height:150px;"><br>
            <b>{{clean.name}}</b><br>
            Hosted By: {{clean.host.username}}<br>
            {{ clean.location.number}} {{clean.location.street}}<br>
            {{ clean.date }}, {{clean.start_time}}<br>
            <a href = '/cleanups/{{clean.id}}' class="support">View Clean Up</a><br>
        <tr/><br>
    {% endfor %}
    </table>
{%endblock%}
