<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, chotoolsools | Templates
and open the template in the editor.
-->
{%extends "base.html"%}

{%block content%}
    <h3>{{cleanup.street_number}} {{cleanup.street_name}}</h3>

{#  GOOGLE MAPS IFRAME  #}
{#  The map will only display from designated IP addresses.   #}
    <iframe
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?q={{cleanup.location.latitude}},{{cleanup.location.longitude}}&zoom=17&key=AIzaSyAEdAvtIce7lgJwgRnL9FJbihvkDXO0nYI">

          <!--src="{{ gmap }}{{ cleanup.gmap_query }}" allowfullscreen>-->
    </iframe></br>
{# TODO: Block image to the left of description and below Google Map   #}
    <img src = "{{cleanup.image}}"
            onerror=this.src='/static/images/defaults/crossed_rakes.png'
            alt="Photograph"
            style = "width:150px;height:150px;">

    <p class="single_cleanup">
        <b>{{cleanup.name}}</b>
        <br>hosted by: {{cleanup.host.username}}
    </p>
    <p class="single_cleanup">
        <i> {{cleanup.description}}</i>
        <br>    {{cleanup.date}}, {{start_time}}-{{end_time}}
        <br>    {{cleanup.location.number}}
        <!--<br>    {{cleanup.location.latitude}}, {{cleanup.location.longitude}}-->
    </p>

    <p class="single_cleanup">Participants:
    {% for participant in cleanup.participants %}
        <br/>-{{participant.username}}
    </p>
    {% endfor %}
    <nav>
        {%if cleanup.host.username==current_user.username%}
            {%if cleanup.html_url%}
                <a href ='{{cleanup.html_url}}' class="support">SeeClickFix Link</a>
                {%else%}
                <a href='/advertise/{{cleanup.id}}' class="support">Advertise on SeeClickFix</a>
            {%endif%}
            {%if not cleanup.notified_pw%}
                <a href="/cleanups/send_to_pw/{{cleanup.id}}"  class="support">Submit to Public Works</a>
                {%else%}
                Public Works has been notified
            {%endif%}
            <a href="/cleanups/{{ cleanup.id }}/edit" class="support">Edit Cleanup</a>

        {%else%}
            {%if not bool_participated%}
                <form action = '/cleanups/join' method='POST'>
                    <input type="hidden" name="cleanup_id" value="{{cleanup.id}}">
                    <input type ="submit" name="Join" value="Join Cleanup">
                </form>
            {%else%}
                    <form action = '/cleanups/leave' method='POST'>
                    <input type="hidden" name="cleanup_id" value="{{cleanup.id}}">
                    <input type ="submit" name="Leave" value="Leave Cleanup">
                </form>
            {%endif%}
        {%endif%}
    </nav>
{%endblock%}
