<!DOCTYPE html>
<!--
Outline for rest of the webpage
-->

<html>
{% load static %}
    <head>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
{# JQUERY -- Always first import! #}
        <script src={% static "scripts/jquery.min.js" %}></script>
{#  BOOTSTRAP #}
        <link rel="stylesheet" href={% static "stylesheets/bootstrap.min.css" %}>
        <script src={% static "scripts/bootstrap.min.js" %}></script>
{#  DATEP AND TIME PICKERS#}
        <link rel="stylesheet" type="text/css" href={% static "stylesheets/datepicker.css"%}>
        <script type="text/javascript"
                src={% static "scripts/bootstrap-datepicker.js" %}></script>
        <script type="text/javascript"
                src={% static "stylesheets/bootstrap-timepicker.min.css" %}></script>
        <script type="text/javascript"
                src={% static "scripts/bootstrap-timepicker.min.js" %}></script>
        <title>Trash Talk</title>
    </head>

    <body>
        <header>
             <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                        <!--TODO-->
                      <a class="navbar-brand" href="{% url 'home' %}">TrashTalk</a>
                    </div>

                    <div class="collapse navbar-collapse" id="myNavbar">
                        {% if user.is_authenticated %}
                      <ul class="nav navbar-nav">
                        <li><a href="{% url 'cleanups-list' %}">All Cleanups</a></li>
                        <li><a href="{% url 'dashboard' %}">My Cleanups</a></li>
                        <li><a href="{% url 'cleanup-new' %}">New Cleanup</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'dashboard' %}"><span class="glyphicon glyphicon-user"></span>Edit Profile</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                      </ul>
                        {%else%}
                        <ul class="nav navbar-nav">
                        <li><a href="{% url 'cleanups-list' %}">All Cleanups</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span>Signup</a></li>
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                          <!--FIXME-->
                          {% csrf_token %}
                      </ul>
                        {%endif%}
                    </div>

                  </div>
            </nav>
        </header>
        <article class="container" style="padding-bottom:50px">
{#        {% with messages = get_flashed_messages() %}#}
{#            {% if messages %}#}
{#                {% for message in messages %}#}
{#                <div class="row">#}
{#                    <div class="alert alert-warning col-sm-4">{{ message | safe }}</div>#}
{#                </div>#}
{#                {% endfor %}#}
{#          {% endif %}#}
{#        {% endwith %}#}
        {%block content%}{%endblock%}
        </article>
        <footer class="navbar navbar-fixed-bottom">
            <div class="col-xs-offset-8 col-xs-4">
                <a href="https://www.openoakland.org/" >
                    <img class="img-responsive" style="padding:10px" src={% static 'images/open_oakland_logo.png' %}>
                </a>
            </div>
        </footer>
    </body>
</html>
