<html>
{% load static %}
<head>
    <meta charset="windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    JQUERY #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{#    BOOTSTRAP #}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{#    DATE and TIME PICKER #}
    <link rel="stylesheet" type="text/css" href={% static "stylesheets/datepicker.css" %}>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href={% static "stylesheets/bootstrap-timepicker.min.css" %}>
    <script type="text/javascript"
            src={% static "scripts/bootstrap-datepicker.js" %}></script>
    <script type="text/javascript"
            src={% static "scripts/bootstrap-timepicker.min.js" %}></script>

    <title>Trash Talk</title>
    </head>
    <body>
{#    TODO: Issue #75: Export all inline styles to an external syltesheet. #}
        <header style="text-align: center;">
            <h1>Trash Talk</h1>
        </header>

        <div class ="main_menu">
            <nav>
                <a href={% url 'cleanups' %}>All Oakland Cleanups</a>
                {% if user.id %}
                    <a href={% url 'users' %}>My Cleanups</a>
                    <a href={% url 'cleanups' %}>Create New Cleanup</a>
                <!--Change #2-->
                    <a href={% url 'users' %}>Edit Profile</a>
                    <a href={% url 'logout' %}>Log out</a>
                {% else %}
                    Want to create or join clean ups?
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" />
                    </form>
                {% endif %}
            </nav>
        </div>
        <article>
{#        FIXME: Legacy from Flask; fix! #}
{#        {% with messages = get_flashed_messages() %}#}
{#            {% if messages %}#}
{#            <ul class=flashes>#}
{#                {% for message in messages %}#}
{#                    <li>{{ message | safe }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#          {% endif %}#}
{#        {% endwith %}#}
        {% block content %}{% endblock %}
        </article>
        <footer>
            An Open Oakland Initiative
{#    TODO: Issue #75: Export all inline styles to an external syltesheet. #}
            <img src={% static 'images/oo_logo.png' %}
            alt="Open Oakland Logo" style="width 100px; height:25px; float:right;">
        </footer>
    </body>
</html>
