
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, chotoolsools | Templates
and open the template in the editor.
-->
{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <h1>Welcome to Trash Talk</h1>
        {% if not user.is_authenticated %}
            {% include '_login.html' %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4 ">
            <img class="center-block img-responsive" src={% static 'images/trash_can_icon.png'%}>
        </div>
    </div>
    <div class="row text-center">
        <h2>Organize a Community Cleanup</h2>
    </div>

</div>
{% endblock %}