
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, chotoolsools | Templates
and open the template in the editor.
<!--&ndash;&gt;-->
{%extends 'base.html'%}
{%block content%}

        <div align="center">
            <h1>Welcome to Trash Talk</h1>
            <h2>A Community Clean-Up Organizer Tool</h2>
            <img src="/static/images/defaults/trash-can-icon.png"
                  alt="Trash Talk Logo" 
                  style="width:300px;height:300px;">
        </div>

{%endblock%}
