<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, chotoolsools | Templates
and open the template in the editor.
-->
{%extends 'base.html'%}
{%block content%}

<form action ="/register" method ="POST">
    <div align ="center">
        <h2>Join Trash Talk</h2>
        <p>Enter your information below</p>
        <input type="text" name="username"
               placeholder="Username"
               required pattern="{{username_pattern}}"
               title="{{username_title}}"
        /><br/>
        <input type="password" name="password"
               placeholder="Password"
               required pattern="{{password_pattern}}"
                title="{{password_title}}"/><br/>
        <input type="password" name="confirm_password"
               placeholder="Confirm Password"
               required pattern="{{password_pattern}}"
        /><br/>
        <input type ='email' name='email' placeholder='Email (optional)'/><br/>
        <!--Feature in next iteration-->
        <!--<label for = "rec_vol_hours">Record Volunteer Hours (optional)</label>-->
        <!--<input type="checkbox" name='track_vol_hours'/><br/>-->
        <input type="submit" name="signup" value="Sign Up"/>
    <a href='/' class="support">Cancel</a>
    </div>
</form>

{%endblock%}
