{% extends "_base.html" %}

{% block content %}
    <h3>{{ cleanup.location.street_number }} {{ cleanup.location.street_name }}</h3>
{# TODO: Block image to the left of description and below Google Map   #}
    <!--<img src = "{{default_image_path}}{{cleanup.image}}"-->
            <!--alt="Photograph"-->
            <!--style = "width:150px;height:150px;"></br>-->
{#  GOOGLE MAPS IFRAME  #}
{#  The map will only display from designated IP addresses.   #}
<div class="embed-responsive embed-responsive-4by3">
{#  <iframe class="embed-responsive-item" src="{{ 'map' }}"></iframe>#}
</div>

<div class="container">
    <h4>{{ cleanup.name }}</h4>
    <div class="col-lg-4">
        <p><b>By: </b><i>{{ cleanup.host.username }}</i><br>
            <b>Start: </b>{{ cleanup.event_start }}<br>
            <b>End: </b>{{ cleanup.event_end }}<br>
            <b>Date: </b>{{ cleanup.date }}<br>
            <b>Where: </b>{{ cleanup.location.ddress }}<br>
            <b>About: </b>{{ cleanup.description }}
        </p>
    </div>
</div>
<div class="container">
    <h4>Participants</h4>
    <ul class="list-group">
{#        {% for participant in cleanup.participants %}#}
{#        <li class="list-group-item col-lg-4">{{ participant.username} }</li>#}
{#        {% endfor %}#}
    </ul>
</div>
<div class="container">
    <nav>
{#        TODO: Issue #75: Move this check to the the backend views #}
        {% if cleanup.host.username == user.username %}
            {% if cleanup.html_url %}
                <a href="{{ cleanup.html_url }}">SeeClickFix Link</a>
                {% else %}
        {#<!--TODO: Change Path-->#}
                <a href="{% url 'cleanup-detail' cleanup.id %}">Advertise on SeeClickFix</a>
            {% endif %}
            {% if not cleanup.notified_pw %}
        {#<!--TODO: Change Path-->#}
                <a href="{% url 'cleanup-detail' cleanup.id %}">Submit
                    to Public Works</a>
                {% else %}
                Public Works has been notified
            {% endif %}
        {#<!--TODO: Change Path-->#}
            <a href="{% url 'cleanup-detail' cleanup.id %}">Edit Cleanup</a>

        {% else %}
            {% if not bool_participated %}
        {#<!--TODO: Change Action Path-->#}
                <form action ="{% url 'cleanup-detail' cleanup.id %}" method='POST'>
                    <input type="hidden" name="cleanup_id" value="{{cleanup.id}}">
                    <input class="btn btn-sm" type ="submit" name="Join" value="Join Cleanup">
                </form>
            {% else %}
        {#<!--TODO: Change Action Path-->#}
                    <form action="{% url 'cleanup-detail' cleanup.id %}" method='POST'>
                    <input type="hidden" name="cleanup_id" value="{{cleanup.id}}">
                    <input class="btn btn-sm" type ="submit" name="Leave" value="Leave Cleanup">
                </form>
            {% endif %}
        {%endif%}
    </nav>
</div>
{%endblock%}
