{% extends "_base.html" %}

{% block content %}
    <h3>{{ cleanup.location.street }} {{ cleanup.location.number }}</h3>
{# TODO: Block image to the left of description and below Google Map   #}
    <!--<img src = "{{default_image_path}}{{cleanup.image}}"-->
            <!--alt="Photograph"-->
            <!--style = "width:150px;height:150px;"></br>-->
{#  GOOGLE MAPS IFRAME  #}
{#  The map will only display from designated IP addresses.   #}
<div class="embed-responsive embed-responsive-4by3">
{#  <iframe class="embed-responsive-item" src="{{ 'map' }}"></iframe>#}
</div>

<div class="container">
    <h4>{{ cleanup.title }}</h4>
    <div class="col-lg-4">
        <p><b>By: </b><i>{{ cleanup.host.username }}</i><br>
            <b>Start: </b>{{ cleanup.event_start }}<br>
            <b>End: </b>{{ cleanup.event_end }}<br>
            <b>Date: </b>{{ cleanup.date }}<br>
            <b>Where: </b>{{ cleanup.location.ddress }}<br>
            <b>About: </b>{{ cleanup.description }}
        </p>
    </div>
</div>
    <h4>Participants</h4>
    <ul class="list-group">
        {% for participant in cleanup.participants.all %}
            <li class="list-group-item col-lg-4">{{ participant.username }}</li>
        {% endfor %}
    </ul>

{#    Breadcrumb links #}
    <div class="breadcrumb">
{#        TODO: Issue #75: Move this check to the the backend views #}
        {% if cleanup.host.username == user.username %}
            {% if cleanup.html_url %}
                <a href="{{ cleanup.html_url }}">SeeClickFix Link</a>
            {% else %}
        {#<!--TODO: Change Path-->#}
                <a href="{% url 'cleanup-detail' cleanup.id %}">Advertise on SeeClickFix</a>
            {% endif %}
            {% if not cleanup.notified_pw %}
        {#<!--TODO: Change Path-->#}
                <a href="{% url 'cleanup-detail' cleanup.id %}">Submit
                    to Public Works</a>
            {% else %}
                Public Works has been notified
            {% endif %}
        {#<!--TODO: Change Path-->#}
            <a href="{% url 'cleanup-edit' cleanup.id %}">Edit Cleanup</a>

        {% else %}
            {% if user not in participants %}
                <form action ="{% url 'api:join-cleanup' cleanup.id %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="cleanup_id" value="{{ cleanup.id }}">
                    <input type="hidden" name="participants" value="{{ user }}">
                    <input class="btn btn-sm" type ="submit" name="join" value="Join Cleanup">
                </form>
            {% else %}
                <form action="{% url 'api:join-cleanup' cleanup.id %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="cleanup_id" value="{{cleanup.id}}">
                    <input type="hidden" name="participants" value="{{ user }}">

                    <input class="btn btn-sm" type ="submit" name="leave" value="Leave Cleanup">
                </form>
            {% endif %}
        {%endif%}
    </div>
</div>
{%endblock%}
