<!DOCTYPE html>

{%extends "_base.html"%}
{%block content%}
<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-4">
                <h3>Cleanup Information:</h3>
            </div>
        </div>
        <form action="{% url 'cleanup-create' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="host" value="{{ user.id }}">
            <!--Event Name-->
            <div class="row">
                <div class="col-lg-4">
                    <label for="name">Event Title</label>
                    <input class="form-control" type="text" name="title" id="title"
                           placeholder="Talking Trash">
                </div>
            </div>

            <!--Date-->
            <div class="row">
                <div class="col-lg-4">
                    <label for="date">Date</label>
                    <div class='input-group date' data-provide="datepicker">
                        <input id="date" name="date" type='text' class="form-control" data-date-autoclose="true" />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#date').datepicker({
                format: 'yyyy-mm-dd'
                });
            </script>

            <!--Start Time-->
            <div class="row">
                <div class="col-lg-4">
                    <label for="start_time">Start Time</label>
                    <div class="input-group bootstrap-timepicker timepicker">
                        <input id="start_time" name="start_time" type="text" class="form-control input-small">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#start_time').timepicker();
            </script>

            <!--End Time-->
            <div class="row">
                <div class="col-lg-4">
                    <label for="end_time">End Time</label>
                    <div class="input-group bootstrap-timepicker timepicker">
                        <input id="end_time" name="end_time" type="text" class="form-control input-small">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#end_time').timepicker();
            </script>

            <!--Address-->
            <div class="row">
                <div class="col-lg-4">
                    <label for="number">Street Number</label>
                    <input class="form-control" type="number" id="street_number" name="number" min="1" pattern="[0-9]{1,}" placeholder="Street Number"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label for="street">Street Name</label>
                    <input class="form-control" type="text" name="street" id="street_name" placeholder="Street Name"/>
                </div>
            </div>
{#          TODO: Issue #-- Cross Street Geolocation #}
            <!--Street Name-->
            <!--<label for="street_name">Street Name:</label>-->
            <!--<input type="radio" name="location" value="cross_street">Cross Street-->
            <!--<label for="street_name">Cross Street Name:</label>-->
            <!--<input type="text" name="street_one" placeholder="Street One"/>-->
            <!--<input type="text" name="street_two" placeholder="Street Two"/><br/>-->
            <!--image-->
            <!--<label for = "image">Image: (optional)</label>-->
{#        Picture input hidden and given default value until referencing can be fixed#}
            <input class="form-control" type ="hidden" name="image" placeholder="Picture" value="crossed_rakes.png"/>

        <!--Description-->
            <div class="row">
                <div class="col-lg-4">
                    <label for="desc">Description</label>
                    <textarea class="form-control" name="description" id="desc" cols="50" rows="4" placeholder="Event Details"></textarea>
                </div>
            </div>

            <!--Submit-->
            <input type = "submit" value="Create Clean up" />
            <a href='/cleanups' class="support">Cancel</a>
            <span class="validity"></span>
        </form>
    </div>
</div>


{%endblock%}
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
