<!DOCTYPE html>
{%extends "base.html"%}
{% load static %}
{%block content%}
<div class="container">
    <!--<div style="float:right; text-align:center;">-->
    <h3>Enter Clean Up Information Below:</h3>
    <!--TODO: Remort Action-->
    <form action = "{% url 'cleanup-edit' %}" method='post'>
        <input type="hidden" name="method" value="POST"/><br/>
        {#    Legal/Organization Name    #}
        <!--<label for="name">Event Title:</label>-->
        <input type="text" name="legal_name" placeholder="Legal Name/Organization Name" required pattern="[a-zA-Z\s]{1,}"><br/>
        {#Home Address#}
        <input type="text" name="home_address" placeholder="Home Address"><br/>
        {# Email Address (change to conditional if not already provided by user) #}
        <!--<input type="text" name="email" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"><br/>-->
        <input type="email" name="email" placeholder="Email Address"><br/>
        {#Phone Number: Treat like text to avoid dash/parentheses issues #}
        <input type="text" name="phone_number" placeholder="123-456-7890" required pattern="\d{3}[\-]\d{3}[\-]\d{4}"/><br/>
        {#Public Works Staff Contact#}
        <label for="staff_contact">Public Works Staff Contact</label>
        <select name="staff_contact">
            <option value="other">None Yet Assigned</option>
            <option value="mike_perlutter">Mike Perlmutter (Streets and Sidewalks)</option>
            <option value="deidre_martin">Deidre Martin (Parks and Medians)</option>
            <option value="jen_stern">Jen Stern (Creeks and Storm Drains)</option>
            <option value="daniela_milian_cavenecia">Daniela Milian-Cavenecia (Litter Container Mosaics)</option>
            <option value="gordon_matassa">Gordon Matassa(Trees and Forestry)</option>
        </select><br/>
        <!--<label for="tool_pickup_date">Preferred Tool Pickup: </label>-->
        <!--required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" -->
        <label for="tool_pickup_date">Tool Pickup</label>
        <input type="date" name="tool_pickup_date"
               required pattern = "{{date_pattern}}"
               placeholder="{{date_placeholder}}">
        <input type="time" name="tool_pickup_time"
               required pattern="{{time_pattern}}"
               placeholder="{{time_placeholder}}">
        <select name="pickup_time_of_day">
            <option value="am">am</option>
            <option value="pm">pm</option>
        </select><br/>
        <label for="tool_drop_off_date">Tool and Trash Drop Off</label>
        <input type="date" name="tool_drop_off_date"
               required pattern="{{date_pattern}}"
               placeholder="{{date_placeholder}}">
        <input type="time" name="tool_drop_off_time"
               required pattern="{{time_pattern}}"
               placeholder="{{time_placeholder}}">
        <select name="drop_off_time_of_day">
            <option value="am">am</option>
            <option value="pm">pm</option>
        </select>        <br/>


        <!--<table class="table-condensed table-bordered table-responsive">-->
        <a href="#health" data-toggle="collapse"><h4>Health and Safety Equipment</h4></a>
            <table id="health" class="table-condensed table-bordered table-responsive collapse">
            <tr>
                <td>
                    <a href="#vest" data-toggle="collapse">Safety Vest</a>
                    <div id="vest" class="collapse">
                        <img src={% static 'images/icons/safety_vest.png' %} class='img-responsive'/>
                    </div>
                    <p>Required for all volunteers working in or adjacent to streets and sidewalks</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" min=0 name="vest" required pattern="[0-9]{1,}" value="0"></td>
            </tr>
            <tr>
                <td>
                    <a href="#rub_gloves" data-toggle="collapse">Rubber-Dipped Work Gloves</a>
                    <div id="rub_gloves" class="collapse">
                        <img src={% static 'images/icons/rubber_dipped_gloves.png' %} class='img-responsive' />
                    </div>
                    <p>General purpose gloves</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="rubber_dipped" required pattern="[0-9]{1,}" value="0"></td>
            </tr>
            <tr>
                <td>
                    <a href="#nit_gloves" data-toggle="collapse">Nitrile Gloves</a>
                    <div id="nit_gloves" class="collapse">
                        <img src={% static 'images/icons/nitrile_gloves.png' %} class='img-responsive' />
                    </div>
                    <p>Recommended only for painting and graffiti removal</p>
                </td>
                <td>
                    <label for="small_nitrile">Small</label>
                    <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="small_nitrile" id="small_nitrile"required pattern="[0-9]{1,}" value="0">
                    <label for = "medium_nitrile">Medium</label>
                    <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="medium_nitrile" id = 'medium_nitrile'required pattern="[0-9]{1,}" value="0">
                    <label for="large_nitrile">Large</label>
                    <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="large_nitrile" id="large_nitrile" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#cot_gloves" data-toggle="collapse">Child-Size Cotton Gloves</a>
                        <div id="cot_gloves" class="collapse">
                            <img src={% static 'images/icons/child_cotton_gloves.jpg' %} class='img-responsive' />
                        </div>
                    <p>General purpose Gloves</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="cotton_glove" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#cooler" data-toggle="collapse">Water Cooler</a>
                        <div id="cooler" class="collapse">
                            <img src={% static 'images/icons/water_cooler.png' %} class='img-responsive' />
                        </div>
                    <p>Volunteers are encouraged to bring reusable water bottles rather than disposable cups</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="cooler" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#aid" data-toggle="collapse">First Aid Kit</a>
                        <div id="aid" class="collapse">
                            <img src={% static 'images/icons/first_aid.png' %} class='img-responsive' />
                        </div>
                    <p>Treat minor injuries</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="first_aid" required pattern="[0-9]{1,}" value="0">
            </tr>
            </table>

        <a href="#street" data-toggle="collapse"><h4>Street Cleaning Tools</h4></a>
        <table id="street" class="table-condensed table-bordered table-responsive collapse">
            <tr>
                <td>
                    <a href="#sticks" data-toggle="collapse">Pickup Sticks</a>
                        <div id="sticks" class="collapse">
                            <img src={% static 'images/icons/pickup_sticks.png' %} class='img-responsive' />
                        </div>
                    <p>Reaches and grabs for trash</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="reg_pickup_stick" required pattern="[0-9]{1,}" value="0">Regular (3')<br>
                    <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="small_pickup_stick" required pattern="[0-9]{1,}" value="0">Child (1.5')
            </tr>
            <tr>
                <td>
                    <a href="#push" data-toggle="collapse">Push Broom</a>
                        <div id="push" class="collapse">
                            <img src={% static 'images/icons/push_broom.png' %} class='img-responsive' />
                        </div>
                    <p>Efficiently sweep dirt and debris</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="push_broom" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#house" data-toggle="collapse">House Broom</a>
                        <div id="house" class="collapse">
                            <img src={% static 'images/icons/brooms' %} class='img-responsive' />
                        </div>
                    <p>Lightweight for easy sweeping</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="reg_house_broom" required pattern="[0-9]{1,}" value="0">Regular<br>
                    <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="small_house_broom" required pattern="[0-9]{1,}" value="0">Child
            </tr>
            <tr>
                <td>
                    <a href="#pan" data-toggle="collapse">Dust Pan</a>
                        <div id="pan" class="collapse">
                            <img src={% static 'images/icons/dust_pan.png' %} class='img-responsive' />
                        </div>
                    <p>Pick up collected dirt and debris</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="reg_dust_pan" required pattern="[0-9]{1,}" value="0">Regular<br>
                    <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="long_handle_dust_pan" required pattern="[0-9]{1,}" value="0">Long-Handled
            </tr>
        </table>

        <a href="#cutting" data-toggle="collapse"><h4>Cutting Tools</h4></a>
        <table id="cutting" class="table-condensed table-bordered table-responsive collapse">
            <tr>
                <td>
                    <a href="#clippers" data-toggle="collapse">Hand Clippers</a>
                        <div id="clippers" class="collapse">
                            <img src={% static 'images/icons/hand_clippers.png' %} class='img-responsive' />
                        </div>
                    <p>Cuts branches less than 1" thick</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="hand_clippers" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#loppers" data-toggle="collapse">Loppers</a>
                        <div id="loppers" class="collapse">
                            <img src={% static 'images/icons/loppers.png' %} class='img-responsive' />
                        </div>
                    <p>Cuts branches less than 2" thick</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="loppers" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#saw" data-toggle="collapse">Pruning Saw</a>
                        <div id="saw" class="collapse">
                            <img src={% static 'images/icons/pruning_saw.png' %} class='img-responsive' />
                        </div>
                    <p>Cuts branches larger than 2"</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="pruning_saw" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#shears" data-toggle="collapse">Shears</a>
                        <div id="shears" class="collapse">
                            <img src={% static 'images/icons/shears.png' %} class='img-responsive' />
                        </div>
                    <p>Cuts/prunes shrubs or grasses</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="shears" required pattern="[0-9]{1,}" value="0">
            </tr>
        </table>
        <a href="#bags" data-toggle="collapse"><h4>Bags/Containers</h4></a>
        <table id="bags" class="table-condensed table-bordered table-responsive collapse">
            <tr>
                <td>
                    <a href="#plastic" data-toggle="collapse">Clear Plastic Bags</a>
                        <div id="plastic" class="collapse">
                            <img src={% static 'images/icons/plastic_bag.png' %} class='img-responsive' />
                        </div>
                    <p>Fill with trash debris or recyclable materials</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="plastic_bag" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#green" data-toggle="collapse">Green Waste/Compost Bags</a>
                        <div id="green" class="collapse">
                            <img src={% static 'images/icons/compost_bag.png' %} class='img-responsive' />
                        </div>
                    <p>Fill with compostable materials,such as weeds, paper plates,food scraps, tree branches
                        (before placing in bags,cut branches into smaller pieces )</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="green_waste" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#reuseable" data-toggle="collapse">Collapesable, Reusable Bags</a>
                        <div id="reuseable" class="collapse">
                            <img src={% static 'images/icons/reusable_bag.png' %} class='img-responsive' />
                        </div>
                    <p>Transports waste materials to a debris bin if you requested one. Must be returned for reuse</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" min=0 name="reusable_bag" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#bucket" data-toggle="collapse">Bucket</a>
                        <div id="bucket" class="collapse">
                            <img src={% static 'images/icons/bucket.png' %} class='img-responsive' />
                        </div>
                    <p>Collects trash similarly to the collapsible green waste bags above</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="two_gal_buck" required pattern="[0-9]{1,}" value="0">2 Gallon<br>
                            <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="five_gal_buck" required pattern="[0-9]{1,}" value="0">5 Gallon
            </tr>
        </table>
        <a href="#dig" data-toggle="collapse"><h4>Digging Tools</h4></a>
        <table id="dig" class="table-condensed table-bordered table-responsive collapse">
            <tr>
                <td>
                    <a href="#planters" data-toggle="collapse">Bulb Planters</a>
                        <div id="planters" class="collapse">
                            <img src={% static 'images/icons/bulb_planter.png' %} class='img-responsive' />
                        </div>
                    <p>Push head of planter into the ground, grab soil in its cone and create a deep enough hole to plant a bulb.
                The long handled version is better for larger projects with harder soil.</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="held_bulb_planter" required pattern="[0-9]{1,}" value="0">hand held<br>
                        <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="long_bulb_planter" required pattern="[0-9]{1,}" value="0">long handled
            </tr>
            <tr>
                <td>
                    <a href="#trowel" data-toggle="collapse">Hand Trowel</a>
                        <div id="trowel" class="collapse">
                            <img src={% static 'images/icons/hand_trowel.png' %} class='img-responsive' />
                        </div>
                    <p>For digging and planting.</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="hand_trowel" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#mattock" data-toggle="collapse">Mattock</a>
                        <div id="mattock" class="collapse">
                            <img src={% static 'images/icons/mattock.png' %} class='img-responsive' />
                        </div>
                    <p>Hand tool used for digging and chopping, similar to the pickax</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="fifteen_mattock" required pattern="[0-9]{1,}" value="0">15"<br>
                    <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="twenty_three_mattock" required pattern="[0-9]{1,}" value="0">23"<br>
                    <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="thirty_two_mattock" required pattern="[0-9]{1,}" value="0">32"
            </tr>
            <tr>
                <td>
                    <a href="#pointed" data-toggle="collapse">Pointed Shovel</a>
                        <div id="pointed" class="collapse">
                            <img src={% static 'images/icons/pointed_shovel.png' %} class='img-responsive' />
                        </div>
                    <p>Best for digging holes</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="pointed_shovel" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#pickax" data-toggle="collapse">Pick Axe</a>
                        <div id="pickax" class="collapse">
                           <img src={% static 'images/icons/pick_axe.png' %} class='img-responsive' />
                        </div>
                    <p>Breaks up hard soil or rock</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="pick_ax" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#fireax" data-toggle="collapse">Pulaski/Fire Ax</a>
                        <div id="fireax" class="collapse">
                            <img src={% static 'images/icons/pulaski.png' %} class='img-responsive' />
                        </div>
                    <p>Both chops wood and digs in soil. Good for trail construction and invasive plant removal (pampas grass)</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="fire_ax" required pattern="[0-9]{1,}" value="0">
            </tr>
        </table>
        <a href="#weeding" data-toggle="collapse"><h4>Weeding Tools</h4></a>
        <table id="weeding" class="table-condensed table-bordered table-responsive collapse">
            <tr>
                <td>
                    <a href="#weeder" data-toggle="collapse">Hand Weeder</a>
                        <div id="weeder" class="collapse">
                            <img src={% static 'images/icons/hand_weeder.png' %} class='img-responsive' />
                        </div>
                    <p>Digs up small weeds</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="hand_weeder" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#hoe" data-toggle="collapse">Hand Hoe</a>
                        <div id="hoe" class="collapse">
                            <img src={% static 'images/icons/hand_hoe.png' %} class='img-responsive' />
                        </div>
                    <p>Moves small amounts of soil; used in weed control, hilling, and creating shallow trenches</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="hand_hoe" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#hori" data-toggle="collapse">Hori Hori</a>
                        <div id="hori" class="collapse">
                            <img src={% static 'images/icons/hori_hori.png' %} class='img-responsive' />
                        </div>
                    <p>A multi-purpose blade serrated on one side. Suitable for digging and cutting roots</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="hori_hori" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#wrench" data-toggle="collapse">Weed Wrench</a>
                        <div id="wrench" class="collapse">
                           <img src={% static 'images/icons/weed_wrench.png' %} class='img-responsive' />
                        </div>
                    <p>Pulls out woody plants such as French broom; Easiest to use with soft and slightly moist soils</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="standard_weed_wrench" required pattern="[0-9]{1,}" value="0">Standard<br>
                        <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="large_weed_wrench" required pattern="[0-9]{1,}" value="0">Large
            </tr>
            <tr>
                <td>
                    <a href="#trimmer" data-toggle="collapse">Grass Trimmers</a>
                        <div id="trimmer" class="collapse">
                            <img src={% static 'images/icons/grass_trimmer.png' %} class='img-responsive' />
                        </div>
                    <p>Whip back and forth to cut tall grasses and weeds</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="grass_trimmers" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#hula" data-toggle="collapse">Hula Hoe</a>
                        <div id="hula" class="collapse">
                            <img src={% static 'images/icons/hula_hoe.png' %} class='img-responsive' />
                        </div>
                    <p>Cuts weeds in sandy soils</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="hula_hoe" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#standard" data-toggle="collapse">Standard Hoe</a>
                        <div id="standard" class="collapse">
                            <img src={% static 'images/icons/hoe.png' %} class='img-responsive' />
                        </div>
                    <p>Cuts weeds just under the surface of the soil</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="standard_hoe" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#tiller" data-toggle="collapse">Mattock Tiller</a>
                        <div id="tiller" class="collapse">
                            <img src={% static 'images/icons/mattock_tiller.png' %} class='img-responsive' />
                        </div>
                    <p>A heavy duty tool for weeding and breaking up soil. One side is a hoe and the other side is a fork</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="mattock_tiller" required pattern="[0-9]{1,}" value="0">
            </tr>
        </table>
        <a href="#move" data-toggle="collapse"><h4>Material Movers</h4></a>
        <table id="move" class="table-condensed table-bordered table-responsive collapse">
            <tr>
                <td>
                    <a href="#skimmer" data-toggle="collapse">Skimmer</a>
                        <div id="skimmer" class="collapse">
                            <img src={% static 'images/icons/skimmer.png' %} class='img-responsive' />
                        </div>
                    <p>Collects debris from water</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="skimmer" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#leaf" data-toggle="collapse">Leaf Rakes</a>
                        <div id="leaf" class="collapse">
                            <img src={% static 'images/icons/rakes.jpg' %} class='img-responsive' />
                        </div>
                    <p>Shaped like a fan and used to rake leaves</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="standard_leaf_rake" required pattern="[0-9]{1,}" value="0">Standard<br>
                        <input class="form-control input-sm" style="width:60px;" type="number" min=0 name="narrow_leaf_rake" required pattern="[0-9]{1,}" value="0">Narrow
            </tr>
            <tr>
                <td>
                    <a href="#bow" data-toggle="collapse">Bow Rake</a>
                        <div id="bow" class="collapse">
                            <img src={% static 'images/icons/bow_rake.jpg' %} class='img-responsive' />
                        </div>
                    <p>Rakes hard materials or moves through roots and ruts</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="bow_rake" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#mcleod" data-toggle="collapse">McLeod</a>
                        <div id="mcleod" class="collapse">
                           <img src={% static 'images/icons/mcleod.png' %} class='img-responsive' />
                        </div>
                    <p>Combines a large hoe-like blade on one side for cutting and a large rake on the other side.
                    Useful for clearing large areas of vegetation and building trails</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="mcleod" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#scoop" data-toggle="collapse">Scoop Shovel</a>
                        <div id="scoop" class="collapse">
                            <img src={% static 'images/icons/scoop_shovel.png' %} class='img-responsive' />
                        </div>
                    <p>Scoops large amounts of material; also called a snow shovel</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="scoop_shovel" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#flat" data-toggle="collapse">Flat Shovel</a>
                        <div id="flat" class="collapse">
                            <img src={% static 'images/icons/flat_shovel.png' %} class='img-responsive' />
                        </div>
                    <p>Scoops soil or moves piles; Not recommended for digging holes</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="flat_shovel" required pattern="[0-9]{1,}" value="0">
            </tr>
            <tr>
                <td>
                    <a href="#pitch" data-toggle="collapse">Pitch Fork</a>
                        <div id="pitch" class="collapse">
                            <img src={% static 'images/icons/pitch_fork.png' %} class='img-responsive' />
                        </div>
                    <p>Moves or picks up loose materials such as hay, compost, or vegetation. Also spreads straw or mulch, etc.</p>
                </td>
                <td><input class="form-control input-sm" style="width:60px;" type="number" min=0 name="pitch_fork" required pattern="[0-9]{1,}" value="0">
            </tr>
        </table>

        <span class="validity"></span>
        <input type = "submit" value="Coordinate with Public Works" name = "coord_with_pw"/>
        <a href={ % url 'cleanup-detail' cleanup.id % }>Cancel</a>
    </form>
</div>


{%endblock%}