<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{%extends 'base.html'%}
{%block content%}
<div align="center">
    <p>Something has gone wrong!</p>
    <p>This is embarrassing.</p>
    <img src = "https://onedublin.files.wordpress.com/2014/06/meme-i-have-no-idea-what-i-am-doing.png" 
         alt="<Insert cute animal photo here>"
         style = "width:660px;height:420px;">
</div>
{%endblock%}
