<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, chotoolsools | Templates
and open the template in the editor.
-->
{%extends "base.html"%}

{% load static %}
{%block content%}
    <h3>Hosted Clean-Ups</h3>
    <div class="list-group">
    {% for cleanup in my_cleanups %}
        <!--TODO: Send Cleanup ID-->
        <a href={% url 'cleanup-detail'%} class="list-group-item row">
            <div class="col-xs-4">
                <div class="imgAbt">
                    <!--TODO: Change to path held in SQL data-->
                    <img class="img-responsive img-thumbnail" src={% static 'images/crossed_rakes.png' %} />
                </div>
            </div>
            <div class="col-xs-8">
                <p><h4>{{cleanup.name}}</h4>
                <date>{{ cleanup.date }}</date>
                <time>{{cleanup.event_start}}</time><br>
                {{ cleanup.address}}
                </p>
            </div>
        </a>
    {% endfor %}
    </div>
    <h3>Joined Cleanups</h3>
    <div class="list-group">
    {% for cleanup in current_user.cleanups_participated %}
        <a href={% url 'cleanup-detail' %} class="list-group-item row">
            <div class="col-xs-4">
                <div class="imgAbt">
                    <!--TODO: Change to path held in SQL data-->
                    <img class="img-responsive img-thumbnail" src={% static 'images/crossed_rakes.png' %} />
                </div>
            </div>
            <div class="col-xs-8">
                <p><h4>{{cleanup.name}}</h4>
                Host: <i>{{cleanup.host.username}}</i><br>
                <date>{{ cleanup.date }}</date>
                <time>{{cleanup.event_start}}</time><br>
                {{ cleanup.address}}
                </p>
            </div>
        </a>
    {% endfor %}

{%endblock%}
